
.chart-frame{
    margin-top: 2%;

}

.some-chart{
    height: 350px;
    text-align: center;
    margin-top: 1%;
}

.chart-select{
    width: 100%;
    background-color: inherit;
}


.chart-title{
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    margin-top: 1%;
}
